.main-navigation {
	clear: both;
	display: block;
	text-align: center;
	width: 100%;
	// border-top: 4px solid $color-gold;
	// border-bottom: 4px solid $color-gold;
	@media screen and (min-width: $tabwidth) {
		
		padding: 10px 0;

	}
	@media screen and (min-width: $deskwidth) {
		padding: 15px 0 50px 0;
	}
	.menu {
		@include transition(all ease 1s);
		overflow: hidden;
		display: block;
		@media screen and (min-width: $tabwidth) {
			overflow: visible;
		}
	}
	&.toggled .menu {
		max-height: 1000px;
	}
	.menu {
		max-height: 0;
		@media screen and (min-width: $tabwidth) {
			max-height: 1000px;
		}
	}

	ul {
		// display: none;
		list-style: none;
		margin: 0;
		padding:0;
		background-color: rgba($color-green,1);
		@media screen and (min-width: $tabwidth) {
			display: flex;
			background-color: rgba($color-green,0);
			padding: 0;
		}

		ul {
			
			float: left;
			position: absolute;
			top: 2em;
			left: 0%;
			display: none;
			z-index: 99999;
			max-height: 0px;
			width: 250px;
			background: rgba($color-tan,1);
			overflow: hidden;
			@include transition(all ease .8s);
			@media screen and (min-width: $tabwidth) {
				display: block;
			}
			
			ul {

				// left: -999em;
				top: 0;
				@media screen and (min-width: $tabwidth) {
					display: block;
				}
			}

			li {
				font-size: 10pt;
				border-left: 0;
				border-bottom: 2px solid $color-blue;
				text-align: left;
				width: 90%;
				float: left;
				line-height: 3.5;
				margin: 0 5%;
				&:first-of-type {
					border-bottom: 2px solid $color-blue;
				}
				&:hover > ul,
				&.focus > ul {
					// left: 100%;
					

				}
				@media screen and (min-width: $tabwidth) {
					max-height: 1000px;
				}
				@media screen and (min-width: $deskwidth) {
					
				}
			}


			a {
				width: 100%;
				display: block;
				@media screen and (min-width: $tabwidth) {
		
				}
				@media screen and (min-width: $deskwidth) {
					
				}
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			// left: 0;
			max-height: 1000px;

		}
	}
	li {
		// float: left;
		position: relative;
		text-align: center;
		display: inline-block;
		hyphens: none;
		padding: 0 ;
		text-transform: uppercase;
		font-family: $font-heading;
		font-weight: 200;
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			// border-left: 3px solid $color-gold;
			line-height: 1.3;
			width: auto;
			// padding: 0 20px;
			&:first-of-type {
				border: 0;
			}
			font-size: 1.3vw;
		}
		@media screen and (min-width: $deskwidth) {
			// padding: 0 30px;
		}

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		// align-items: center;
		text-decoration: none;
		padding: 10px 0px;
		color: #fff;
		@include transition(all ease .4s);
		@media screen and (min-width: $tabwidth) {
			padding: 0% 20px;
			color: $color-blue;
		}
		@media screen and (min-width: $deskwidth) {
			padding: 0% 30px;
		}
		&:hover {
			background-color: rgba(#fff, 1);
			color: $color-orange;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	// background-color: $color-green;
	ul.sub-menu {
		background-color: rgba(255,255,255,.1);
	}
	
}
.main-navigation.toggled ul ul {
	display: none;
	@media screen and (min-width: $tabwidth) {
		display: block;
	}
}

@media screen and (min-width: $tabwidth) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		// display: block;
	}
}
button.menu-toggle {
	border: 0px;
	text-shadow: none;
	// background-color: #ccc;
	background: none;
	color: #fff;
	box-shadow: none;
	width: auto;
	position: absolute;
	top: 0px;
	left: 0;
	margin: 10px auto;
	border-radius: 0;
	text-transform: uppercase;
	font: {
		
		weight :300;
		size: 20px;
	}
	
	@media screen and (min-width: $tabwidth) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
#menuToggle {
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -0px;
  left: -0px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  // background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

