.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
section.schedule {
	flex-wrap: wrap;
	.col {
		flex-basis: 22%;
	}
}
section.schedule-music {
	flex-wrap: wrap;
	.col {
		flex-basis: 22%;
	}
}
section.schedule,
section.schedule-music {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	.col {
		padding: 0 0 30px 0;
		background-color: $color-blue;
		color: $color-gold;
		text-align: center;
		font-size: 11pt;
		.image {
			width: 100%;
			position: relative;
			padding: 3px;
			float: left;
			img {
				width: 100%;
			}
		}
		.icon {
			width: 50px;
			height: 50px;
			position: absolute;
			bottom: -25px;
			left: 0;
			right: 0;
			margin: 0 auto;
			z-index: 100000;
		}
		h2 {
			text-transform: uppercase;
			font-family: $font-heading;
			margin: 30px auto 0 auto;
			width: 100%;
			float: left;
		}
		.time {
			color: #fff;
		}
		a {
			text-decoration: none;
			color: $color-gold;
			border-bottom: 1px solid $color-blue;
			@include transition(all ease .2s);
			&:hover {
				border-bottom: 1px solid $color-gold;
			}
		}
		li {
			list-style: none;
			margin: 0 0 5px 0;
		}
	}
}
.tiles {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 40px 0;
}
.tile {
	width: auto;
	background-color: $color-blue;
	color: color-gold;
	padding: 20px;
	a {
		color: $color-gold;
		text-decoration: none;
	}
}