.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
section.schedule {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	.col {
		flex-basis: 22%;
		background-color: $color-blue;
		color: $color-gold;
		text-align: center;
		font-size: 11pt;
		.time {
			color: #fff;
		}
		a {
			text-decoration: none;
			color: $color-gold;
			border-bottom: 1px solid $color-blue;
			@include transition(all ease .2s);
			&:hover {
				border-bottom: 1px solid $color-gold;
			}
		}
		li {
			list-style: none;
			margin: 0 0 5px 0;
		}
	}
}